# Node modules
node_modules
package-lock.json

# directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea

# serverless stuff
.serverless
.dynamodb